nav{
    height: 42px;
    background-color: #9acfea;
}

nav ul {
    list-style: none;
}

nav ul li a{
    float: left;
    text-decoration: none;
    color: #5bc0de;
    padding: 0px 40px;
    text-align: center;
}